<% if (user)  { %>
<% block('title', 'Администратор ' + user.username ); -%>
<% } %>
<% layout('../layout/layout') -%>





<div class="widget">

<div class="widget-head">
    <div class="pull-left">Департаменты</div>
    <div class="widget-icons pull-right">
        <a href="#" class="wminimize"><i class="icon-chevron-up"></i></a>
        <a href="#" class="wclose"><i class="icon-remove"></i></a>
    </div>
    <div class="clearfix"></div>
</div>

<div class="widget-content" style="display: block;">

<table class="table table-striped table-bordered table-hover">
<thead>
<tr>
    <th>#</th>
    <th class="text-center">Название</th>
    <th class="text-center">Название на английском</th>
    <th></th>
</tr>
</thead>
<tbody>



<% for (var i = 0; i < departments.length; i++) { %>

<tr>
    <td><%- i %></td>

    <td class="text-center"><%- departments[i].name %></td>
    <td class="text-center"><%- departments[i].rusname %></td>


    <td class="text-center">
        <a href="edit_department/<%- departments[i]._id %>" class="btn btn-xs btn-warning"><i class="glyphicon glyphicon-pencil"></i></a>
        <button action="del_depart" thisid="<%- departments[i]._id %>" class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove"></i></button>
    </td>
</tr>

<% } %>



</tbody>
</table>

<div class="widget-foot">

    <!-- PAGINATION -->
    <!--  <ul class="pagination pull-right">
          <li><a href="#">Prev</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">Next</a></li>
      </ul>-->

    <div class="clearfix"></div>

</div>

</div>

</div>

<!--
<script type="text/javascript" src="/vendor/jquery.form.js"></script>
<script type="text/javascript" src="/vendor/upload.js"></script>
-->
