
<% if (user)  { %>
<% block('title', 'Администратор ' + user.username ); -%>
<% } %>
<% layout('../layout/layout') -%>


<% console.log(typeof error); %>


    <% if (typeof error != "undefined") {%>
        <div class="alert alert-danger">

        <%- error  %>
        <br/>

        </div>

    <% } else if (typeof message != "undefined") { %>
    <div class="alert alert-success"><%- message %></div>


    <% } %>


<form class="form-horizontal well" method="POST" action="/edit_department/<%- department.name %>" name="addUserForm">

    <div class="row">
        <div class="col-lg-10">

            <fieldset>
                <legend><%= l("hgroup").addDepart %></legend>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="companyname"><%= l("labels").enterTitle %></label>
                    <div class="col-lg-10">
                        <input class="form-control" name="department_title" type="text" placeholder="<%= l("labels").enterTitle %>" required="" autofocus="" value="<%- department.name %>">
                    </div>
                </div>
            </fieldset>


            <div class="form-group">
                <label class="col-lg-2 control-label" for="companyname"><%= l("labels").enterTitle %></label>
                <div class="col-lg-10">
                    <input class="form-control" name="department_title_rus" type="text" placeholder="<%= l("labels").enterTitle %>" required="" autofocus="" value="<%- department.rusname %>">
                </div>
            </div>


        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <input type="submit" class="btn btn-primary pull-right btn-lg" value="<%= l("buttons").send %>">
        </div>
    </div>

    <input type="hidden" value="<%- department._id %>" name="objectId"/>

</form>

<!--
<script type="text/javascript" src="/vendor/jquery.form.js"></script>
<script type="text/javascript" src="/vendor/upload.js"></script>
-->
