<div class="container">

    <!-- Static navbar -->
    <div class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><%= l('administrator') %></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
        <li class="dropdown">
            <% if (catsCount) { %>
                      <a href="#" class="dropdown-toggle goods" data-toggle="dropdown" ><%= l("goods") %> <b class="caret"></b></a>
            <% } else { %>
                      <a href="#" class="dropdown-toggle goods disabled" data-toggle="dropdown" ><%= l("goods") %> <b class="caret"></b></a>
            <% } %>
                      <ul class="dropdown-menu">
                          <li><a href="/add_good">Добавить</a></li>
                          <li><a href="/all_goods">Все товары</a></li>
                      </ul>
                  </li>

             <li class="dropdown">
                 <% if (companiesCount) { %>
                <a href="#" class="dropdown-toggle cats" data-toggle="dropdown"><%= l("goodsCats") %> <b class="caret"></b></a>
                 <% } else { %>
                <a href="#" class="dropdown-toggle cats disabled" data-toggle="dropdown"><%= l("goodsCats") %> <b class="caret"></b></a>
                 <% } %>
                <ul class="dropdown-menu">
                    <li><a href="/add_cat">Добавить</a></li>
                    <li><a href="/all_cats">Все категории</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <% if (departsCount) { %>
                <a href="#" class="dropdown-toggle companies" data-toggle="dropdown">Компании <b class="caret"></b></a>
                <% } else { %>
                <a href="#" class="dropdown-toggle companies disabled" data-toggle="dropdown">Компании <b class="caret"></b></a>
                <% } %>
                <ul class="dropdown-menu">
                    <li><a href="/add_company">Добавить компанию</a></li>
                    <li><a href="/all_companies">Все компании</a></li>
                </ul>
             </li>
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle departs" data-toggle="dropdown">Департаменты<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="/add_department">Добавить раздел</a></li>
                      <li><a href="/all_departments">Все разделы</a></li>
                  </ul>
              </li>
            <!--     <li>
                    <a href="orders.php"  >Заказы  <span class="badge"></span></a>

                </li>   -->
            </ul>
            <ul class="nav navbar-nav navbar-right">

               <!-- <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Компания:  <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="company_card.php">Посмотреть карточку компании</a></li>
                        <li><a href="edit_company_card.php">Редактировать карточку</a></li>
                    </ul>
                </li>
-->
                <li><a href="" id="exit">Выйти</a></form></a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>





<!--
<nav class="navbar navbar-default" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/">Главная</a></li>
        <%   %>
        <li><a href="/chat">Чат</a></li>
        <%  %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <%  %>
        &lt;!&ndash;<li><a href="" onclick="$('<form method=POST action=/logout>').submit();return false">Выйти</a></form></li>&ndash;&gt;
        <%  %>
        <li><a href="/login">Войти</a></li>
        <%  %>
    </ul>
</nav>-->
