<% if (user)  { %>
<% block('title', 'Администратор ' + user.username ); -%>
<% } %>
<% layout('layout/layout') -%>


<% console.log(typeof error); %>


    <% if (typeof error != "undefined") {%>
        <div class="alert alert-danger">

        <%- error  %>
        <br/>

        </div>

    <% } %>


<form method="post" id="uploadForm" enctype="multipart/form-data"  enctype="multipart/form-data" action="/edit_company/<%- company.name %>" method="post">



    <div class="row">
        <div class="col-lg-4 col-xs-4" >
            <img class="img-thumbnail" src="/files/<%- company.image %>" alt="" style="max-height: 300px; max-width: 300px">
        </div>

        <div class="col-lg-8 col-xs-8" >
            <strong>Выберите новое изображение для загрузки</strong><br>
            <input type="file" name="file" id="userPhotoInput">
        </div>
    </div>
    <br/><br/>


    <div class="form-group">
        <label><strong>Введите название на английском (например, citypizza)</strong></label>
        <input class="form-control" type="text" name="name" value="<%- company.name %>">
    </div>

    <input type="hidden" value="<%- company._id %>" name="objectId"/>



    <!--<div class="form-group">
        <label><strong>Введите короткое описание</strong></label>
        <input class="form-control" type="text" name="snippet">

    </div>


    <div class="form-group">
            <label><strong>Введите название на английском (например, citypizza) - логин</strong></label>
            <input class="form-control" type="text" name="name">

    </div>

    <div class="form-group">
        <label><strong>Введите пароль для компании*</strong></label>
        <input class="form-control" type="text" name="company_password">
    </div>

    <div class="form-group">
        <label><strong>Введите email для компании*</strong></label>
        <input class="form-control" type="text" name="email">
    </div>

    <div class="form-group">
        <label><strong>Введите телефон для компании*</strong></label>
        <input class="form-control" type="text" name="phone">
    </div>


    <p style="font-size:9px">* - поля, обязательные для заполнения </p>-->

    <p>
        <label>
            <input type="submit" class="btn btn-primary" name="submit" id="submit" value="Отправить!">
        </label>
        <br>
    </p>

</form>

<!--
<script type="text/javascript" src="/vendor/jquery.form.js"></script>
<script type="text/javascript" src="/vendor/upload.js"></script>
-->
