
<% if (user)  { %>
<% block('title', 'Администратор ' + user.username ); -%>
<% } %>
<% layout('../layout/layout') -%>


<% console.log(typeof error); %>


    <% if (typeof error != "undefined") {%>
        <div class="alert alert-danger">

        <%- error  %>
        <br/>

        </div>

    <% } else if (typeof message != "undefined") { %>
    <div class="alert alert-success"><%- message %></div>


    <% } %>


<form class="form-horizontal well" method="POST" action="/edit_cat/<%- cat._id %>" name="addUserForm">

    <div class="row">
        <div class="col-lg-10">
            <fieldset>
                <legend><%= l('hgroup').editPodCat %></legend>
                <div class="form-group">
                    <label class="col-lg-2 control-label" for="companyname"><%= l('labels').enterTitle %></label>
                    <div class="col-lg-10">
                        <input class="form-control" name="cat_title" type="text" placeholder="Название на английском" required="" autofocus="" value="<%- cat.name %>">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-10">
            <div class="form-group" style="padding-left: 20px; padding-top: 30px">
                <label><strong><%= l('labels').selectCat %></strong></label>
                <select name="companyId">
                    <% for (var i = 0; i < companies.length; i++) { %>
                    <% if (companies[i]._id.toString() == cat.companyId) { %>
                        <option value="<%- companies[i]._id %>" depart="<%- companies[i].department %>" selected> <%- companies[i].name %></option>
                    <% } else { %>
                         <option value="<%- companies[i]._id %>" depart="<%- companies[i].department %>"> <%- companies[i].name %></option>
                    <% }  %>

                    <% } %>
                </select>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-10">
                <input type="submit" class="btn btn-primary pull-right btn-lg" value="<%= l('buttons').send %>">
            </div>
        </div>

        <!--
        <script type="text/javascript" src="/vendor/jquery.form.js"></script>
        <script type="text/javascript" src="/vendor/upload.js"></script>
        -->

    </div>




    <input type="hidden" value="<%- cat._id %>" name="objectId"/>

</form>

<!--
<script type="text/javascript" src="/vendor/jquery.form.js"></script>
<script type="text/javascript" src="/vendor/upload.js"></script>
-->
