<% if (user)  { %>
<% block('title', 'Администратор ' + user.username ); -%>
<% } %>
<% layout('../layout/layout') -%>



    <% if (typeof error != "undefined") {  %>

    <div class="alert alert-danger">

    <%       for (var i in error) {    %>

    <%- error[i].message  %>
    <br/>

    <%  } %>

    </div>

    <% } %>

<!--<h1 class="text-center">Добавление товара</h1>-->

<form enctype="multipart/form-data" action="/add_good" method="post">
    <strong><%= l('labels').imageLoad %></strong><br>
    <input type="file" name="file" required=""><br><br>

    <div class="form-group">
        <label><strong><%= l('labels').enterTitle %></strong></label><strong>
            <input class="form-control" type="text" name="title" required="">
        </strong></div><strong>

        <div class="form-group">
    <!--        <label><strong>Введите короткое описание</strong></label>
            <input class="form-control" type="text" name="short_des">

        </div>

        <div class="form-group">
            <label><strong>Введите цену*</strong></label>
            <input class="form-control" type="text" name="price">
        </div>


        <div class="form-group">
            <label><strong>Введите полное описание товара</strong></label>
            <textarea class="form-control" name="long_des"></textarea>

        </div>-->

            <div class="form-group">
                <label><strong><%= l('labels').selectDepart %></strong></label>
                <div>
                    <select name="departId"  class="selectpicker">
                        <% for (var i = 0; i < departs.length; i++) { %>
                        <option value="<%- departs[i]._id %>"> <%- departs[i].name %></option>
                        <% } %>
                    </select>
                </div>
            </div>


            <div class="form-group"  id="companyIdParent">
                <label><strong><%= l('labels').selectCat %></strong></label>
                <div>
                    <select name="companyId"  class="selectpicker">
                        <% for (var i = 0; i < companies.length; i++) { %>
                        <option value="<%- companies[i]._id %>" depart="<%- companies[i].department %>"> <%- companies[i].name %></option>
                        <% } %>
                    </select>
                </div>
            </div>



        <div class="form-group"  id="catIdParent">
            <label><strong><%= l('labels').selectPodCat %></strong></label>
            <div>
                <select name="catId"  class="selectpicker">
                    <% for (var i = 0; i < cats.length; i++) { %>
                    <option value="<%- cats[i]._id %>" company="<%- cats[i].companyId %>"> <%- cats[i].name %></option>
                    <% } %>
                </select>
            </div>
        </div>



        <div class="form-group">
            <label><strong><%= l('labels').enterShortDes %></strong></label>
            <input class="form-control" type="text" name="short_des">

        </div>

        <div class="form-group">
            <label><strong><%= l('labels').enterPrice %></strong></label>
            <input class="form-control" type="text" name="price">
        </div>


        <div class="form-group">
            <label><strong><%= l('labels').enterFullDes %></strong></label>
            <textarea class="form-control" name="long_des"></textarea>

        </div>








        <!--<p style="font-size:9px">* - поля, обязательные для заполнения </p>-->


        <p>
            <label>
                <input type="submit" class="btn btn-primary" name="submit" id="submit" value="<%= l('buttons').send %>">
            </label>
            <br>
        </p>


    </strong>
</form>

<link rel="stylesheet" href="/stylesheets/bootstrap-select.min.css"/>
<script src="/stylesheets/bootstrap-select.min.js"></script>

<script>
    $(window).on('load', function () {

        $("select[name='departId']").trigger("change");

        $('.selectpicker').selectpicker({
            'selectedText': 'cat'
        });

         $('.selectpicker').selectpicker('show');
    });
</script>


<script>
//var TRIGGER = true;
$(document).ready(function() {
   // $("select[name='departId']").trigger("change");
});
/*    $.getScript('http://vk.com/js/api/openapi.js', function() {

// Initialize VK OPEN API
        VK.init({
            apiId: 4255803
        });

// Post node to vk wall
        VK.Api.call(
                'wall.post',
                {
                    owner_id: '104127285', // '-9089845' минус оставляем для группы'
                    message: 'sasd'
                },
                function(response) {
// If captcha needed.
                    console.log(response);
                }
        );

    });*/
</script>


<!--
<script type="text/javascript" src="/vendor/jquery.form.js"></script>
<script type="text/javascript" src="/vendor/upload.js"></script>
-->
